<h1>*ngFor OBjs</h1>
<div>
  <div *ngFor="let product of products" >
    <img width="250" [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<h1>*ngfor</h1>
<input type="text" required  [(ngModel)] = "newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length ===0">no hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click) ="deleteName(i)">Delete</button>
  </li>
</ul>

<h1>*ngIf</h1>
<input type="text" required  [(ngModel)] = "person.name">
<p *ngIf="person.name === 'cesar'">My name Cesar</p>
<p *ngIf="person.name === 'julian' && person.age === 18; else elseBlock">My name Julian</p>
<ng-template #elseBlock>
  <p>BLoque de else</p>
</ng-template>
<br/>

<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)] = "person.name">
<p>VAlid: {{ nameInput.valid }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)] = "person.age">
<p>VAlid: {{ ageInput.valid }}</p>
<br/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increasseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum accusamus porro modi quisquam non vitae sed
    voluptate inventore aspernatur? Nostrum voluptate quisquam iure maxime doloremque, atque nulla voluptas libero?
    Soluta.</p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>Nombre {{ person.name }}</p>
<hr />

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" alt="image" />

<hr />
<h1>Hola Mundo</h1>
<h2>{{'hola mundo '.repeat(5)}}</h2>

<h3>hola soy {{ name }} tengo {{age}}</h3>
<img src={{img}} alt="image" />
